[neopixel rgb1]
pin: PA8
chain_count: 14
color_order: RGB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

[neopixel rgb2]
pin: PA1
chain_count: 14
color_order: RGB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

##########################
# LED Effects Animations #
##########################

##################
## logo effects ##
##################

[led_effect caselights_busy]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
    breathing  3 1 top (1,0,0)

[led_effect caselights_cleaning]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect caselights_calibrating_z]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
        breathing  3 1 top (0.0, 0.0, 0.35)

[led_effect caselights_heating]
leds:
    neopixel:rgb1
    neopixel:rgb2
autostart:                          false
frame_rate:                         24
layers:
     breathing  3 1 top (1, 0.18, 0)

[led_effect caselights_cooling]
leds:
    neopixel:rgb1
    neopixel:rgb2
autostart:                          false
frame_rate:                         24
layers:
     breathing  3 1 top (0, 0, 1)

[led_effect caselights_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
        breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect caselights_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect caselights_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
        breathing  3 1 top (0.2, 1.0, 0.0)

[led_effect caselights_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect caselights_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
        breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect caselights_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
        breathing  3 1 top (0.0, 1.0, 0.0)

[led_effect epilepsie]
leds:
    neopixel:rgb1
    neopixel:rgb2
autostart:                          false
frame_rate:                         24
layers:
    blink  .2  1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

#####################
## all led effects ##
#####################

[led_effect critical_error]
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true


[led_effect rainbow]
leds:
    neopixel:rgb1
    neopixel:rgb2
autostart:                          false
frame_rate:                         24
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect rainbow_high]
leds:
    neopixel:rgb1
    neopixel:rgb2
autostart:                          true
frame_rate:                         24
layers:
    gradient  1  1 add (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
 
[led_effect comet_blue]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
    comet  1 1.5 top (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0)
 
[led_effect chase]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
    chase 1 1.5 top (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(0.5, 0.0, 0.)
 
[led_effect twinkle]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
    twinkle  10 0.1 top (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 0.0, 1.0),(1.0, 0.0, 0.5), (1.0, 0.20, 0.0)   
 
[led_effect lightning]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
    twinkle  3 0.05 screen (0.8, 1.0, 1.0),(1.0, 0.8, 1.0),(0.0, 1.0, 1.0),(0.3, 0.3, 0.9)
    comet  1 1.5 overlay (0.8, 1.0, 1.0),(0.0, 0.8, 1.0),(0.0, 1.0, 1.0)

[led_effect fire]
autostart:              false
frame_rate:             24
leds:
    neopixel:rgb1
    neopixel:rgb2
layers:
    fire 15 40 top (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 0.3, 0.0),(1.0, 1.0, 1.0)

#######################
# LED Effects Statics #
#######################

[led_effect caselights_leds]
leds:
    neopixel:rgb1
    neopixel:rgb2
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (0.0,  0.0, 0.0)
    
[led_effect caselights_printing]
leds:
    neopixel:rgb1
    neopixel:rgb2
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0)

##############
# The Macros #
##############

[gcode_macro epilepsie_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=epilepsie

[gcode_macro fire_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=fire
    
[gcode_macro twinkle_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=twinkle

[gcode_macro status_ready_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow_high

[gcode_macro lightning_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=lightning

[gcode_macro chase_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=chase

[gcode_macro comet_blue_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=comet_blue

[gcode_macro caselights_leds_off]
gcode:
    SET_LED_EFFECT EFFECT=caselights_leds REPLACE=1

[gcode_macro status_off_case]
gcode:
    STOP_LED_EFFECTS

[gcode_macro rainbow_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro status_part_ready_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_part_ready

[gcode_macro status_busy_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_busy

[gcode_macro status_heating_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_heating

[gcode_macro status_cooling_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_cooling

[gcode_macro status_leveling_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_leveling

[gcode_macro status_homing_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_homing

[gcode_macro status_cleaning_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_cleaning

[gcode_macro status_meshing_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_meshing

[gcode_macro status_caselights_printing_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_printing

[gcode_macro status_calibrating_z_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_calibrating_z

[gcode_macro status_printing_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_printing

[gcode_macro status_standby_case]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=caselights_standby
