########################################
# FILAMENT CUT (SERVO)
########################################

[gcode_macro CUT_FILAMENT]
description: Perform filament cut with toolhead-mounted servo cutter
variable_servo_name: 'mmu_gantry_servo'
variable_minimum_angle: 40
variable_cut_angle: 120
variable_release_retract: 1.0
variable_release_speed: 10
gcode:
  SET_SERVO SERVO={servo_name} ANGLE={cut_angle}
  G4 P500
  G1 E-{release_retract} F{release_speed * 60}
  G4 P100
  SET_SERVO SERVO={servo_name} ANGLE={minimum_angle}
  G4 P250