[neopixel matchstick]
pin: PA8
chain_count: 18
color_order: RGBW

initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#####################################################################
# Matchstick NeoPixel Status Effects
# 18 RGBW LEDs
#####################################################################

[led_effect matchstick_idle]
leds:
    neopixel:matchstick
autostart: true
frame_rate: 36
layers:
    gradient  0.80  1.00  top  (1.00, 0.00, 0.00, 0.00), (1.00, 0.50, 0.00, 0.00), (1.00, 1.00, 0.00, 0.00), (0.00, 1.00, 0.00, 0.00), (0.00, 0.00, 1.00, 0.00), (0.50, 0.00, 1.00, 0.00)

[led_effect matchstick_homing]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    comet  0.70  1.00  top  (0.90, 0.65, 0.00, 0.00)

[led_effect matchstick_heating]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    breathing  3  0  top  (0.80, 0.20, 0.00, 0.00)

[led_effect matchstick_printing]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    gradient  0.30  0  top  (0.00, 0.60, 0.20, 0.00), (0.00, 0.20, 0.00, 0.45)

[led_effect matchstick_meshing]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    comet  0.80  1.00  top  (0.45, 0.00, 0.80, 0.00)

[led_effect matchstick_cleaning]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    chase  0.80  1.00  top  (0.00, 0.70, 0.70, 0.00), (0.00, 0.00, 0.00, 0.00)

[led_effect matchstick_part_ready]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    breathing  2  0  top  (0.00, 0.80, 0.00, 0.00)

[led_effect matchstick_paused]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    blink  1.00  0.50  top  (0.90, 0.45, 0.00, 0.00)

[led_effect matchstick_error]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    blink  0.60  0.50  top  (1.00, 0.00, 0.00, 0.00)

[led_effect matchstick_white]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    static  1  0  top  (0.00, 0.00, 0.00, 0.60)

[led_effect matchstick_off]
leds:
    neopixel:matchstick
autostart: false
frame_rate: 24
layers:
    static  1  0  top  (0.00, 0.00, 0.00, 0.00)


#####################################################################
# Matchstick Status Macros
#####################################################################

[gcode_macro LED_IDLE]
description: Set matchstick LEDs to idle status
gcode:
    SET_LED_EFFECT EFFECT=matchstick_idle REPLACE=1 FADETIME=0.5

[gcode_macro LED_HEATING]
description: Set matchstick LEDs to heating status
gcode:
    SET_LED_EFFECT EFFECT=matchstick_heating REPLACE=1 FADETIME=0.5

[gcode_macro LED_HOMING]
description: Set matchstick LEDs to homing status
gcode:
    SET_LED_EFFECT EFFECT=matchstick_homing REPLACE=1 FADETIME=0.3

[gcode_macro LED_PRINTING]
description: Set matchstick LEDs to printing status
gcode:
    SET_LED_EFFECT EFFECT=matchstick_printing REPLACE=1 FADETIME=0.5

[gcode_macro LED_MESHING]
description: Set matchstick LEDs to bed meshing status
gcode:
    SET_LED_EFFECT EFFECT=matchstick_meshing REPLACE=1 FADETIME=0.3

[gcode_macro LED_CLEANING]
description: Set matchstick LEDs to cleaning status
gcode:
    SET_LED_EFFECT EFFECT=matchstick_cleaning REPLACE=1 FADETIME=0.3

[gcode_macro LED_PART_READY]
description: Set matchstick LEDs to part ready status
gcode:
    SET_LED_EFFECT EFFECT=matchstick_part_ready REPLACE=1 FADETIME=0.5

[gcode_macro LED_PAUSED]
description: Set matchstick LEDs to paused status
gcode:
    SET_LED_EFFECT EFFECT=matchstick_paused REPLACE=1 FADETIME=0.3

[gcode_macro LED_ERROR]
description: Set matchstick LEDs to error status
gcode:
    SET_LED_EFFECT EFFECT=matchstick_error REPLACE=1 FADETIME=0.2

[gcode_macro LED_WHITE]
description: Set matchstick LEDs to white work light
gcode:
    SET_LED_EFFECT EFFECT=matchstick_white REPLACE=1 FADETIME=0.5

[gcode_macro LED_OFF]
description: Turn matchstick LEDs off
gcode:
    SET_LED_EFFECT EFFECT=matchstick_off REPLACE=1 FADETIME=0.5